* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: "Nunito", sans-serif;
}

html, body{
  height: 100%;
  margin: 0;
}

.clear{
  text-decoration: none;
  color: inherit;
}

.pageColor{
  background-color: #fafafa;
}

.fullSize {
  height: 100%;
  overflow: auto;
  background-color: #fafafa;
}

.container{
  width: 100%;
  text-align: center;
}

.linkColor{
  color: white;
  text-decoration: none;
}

.about .footerLink{
  color: black;
}

.inline {
  display: inline;
}

nav li {
  padding: 0 1em;
}

.flexRight {
  display: flex;
  flex-direction: row;
}

.pd-2_5 {
  padding: 2.5em;
}

.btn {
  margin-top: 2em;
  padding: 1em;
  border: none;
  background-color: #2a8dff;
  border-radius: 2px;
  color: white;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
  background-color: #1563bb;
  transition: 0.3s ease-out;
}

/* Landing Page */

.landingImg {
  width: 50%;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 2.5em 4em;
}

.inlineBlock {
  display: inline-block;
}

.landingText {
  font-size: 90px;
  font-weight: 700;
}

.landing {
  width: 100%;
  margin: auto;
  text-align: center;
}

.dot {
  border-radius: 50%;
  background-color: #fafafa;
  display: inline-block;
  border: 9px #dceffe solid;
  position: absolute;
}

.top {
  top: 5em;
  left: 40em;
  height: 150px;
  width: 150px;
}

.right {
  right: 50em;
  height: 50px;
  width: 50px;
}
.right1 {
  right: 30em;
  bottom: 50em;
  height: 100px;
  width: 100px;
}
.right2 {
  right: 1em;
}

.botRight {
  right: 20em;
  bottom: 5em;
  height: 120px;
  width: 120px;
}

.bottom1 {
  bottom: 100px;
  left: 50em;
  height: 300px;
  width: 300px;
}
.bottom2 {
  bottom: 20px;
  left: 20em;
  height: 30px;
  width: 30px;
}
.bottom3 {
  bottom: 200px;
  left: 1em;
  height: 160px;
  width: 160px;
}
.bottom4 {
  bottom: 40em;
  left: 4em;
  height: 70px;
  width: 70px;
}
.bottom5 {
  bottom: 40em;
  left: 60em;
  height: 90px;
  width: 90px;
}
.bottom6 {
  bottom: 10em;
  left: 30em;
  height: 90px;
  width: 90px;
}

/* Login/Register page */

.block{
  display: block;
  }
  
.container-form h1{
  text-align: center;
  margin: 1em 0;
}

  .block p{
    margin: .3em 0;
  }

.container-form{
  width: 25%;
  margin: 0 auto;
  text-align: left;
  min-height: 100vh;
  margin-bottom: 0;
}

.credentials{
  box-shadow: none;
  border: 1px solid black;
  padding: .4em;
  width: 100%;
  border-radius: 2px;
  text-align: left;
  margin-bottom: .5em;
}

.credText{
  font-size: 10px;
  font-weight: bold;
}

.credLink{
  text-decoration: none;
  color: #1563bb;
}

.credentials:hover{
  border: 1px solid #2a8dff;
}

.submitBtn{
  margin-top: 2em;
  padding: .4em;
  width: 100%;
  border: none;
  background-color: #2a8dff;
  border-radius: 2px;
  color: white;
  text-decoration: none;
  display: block;
  margin: 1em auto;
}

/* Alerts */
.alert{
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: #FF2626;
  color: black;
}

/* About page */
.about{
  text-align: center;
  margin: auto;
  height: 100%;
}



/* Footer */
.footer-container {
  margin: auto;
  background-color: #2a8dff;
  height: 200px;
  position: relative;
  margin-top: 200px;
  color: white;
  padding: 3em 0;
  width: 100%;
  text-align: center;
}
