* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: "Nunito", sans-serif;
}

.cursorChg:hover {
  cursor: pointer;
}

.smallMediaHide {
  display: none;
}

.bold {
  font-weight: bold;
}

/* ?????????? */
.pd-top1 {
  padding-top: 0.7em;
}

.leftAlign {
  text-align: left;
}

.mg1-top {
  margin-top: 1.5em;
}

.mg-left1{
  margin-left: 1em;
}

.mg-right1{
  margin-right: 1em;
}

.sidemenuBotMargin{
  margin-bottom: 2em;
}

.mg1-bottom{
  margin-bottom: 1em;
}

.hideOnLargeMedia {
  display: none;
}



.fontSize20{
  font-size: 20px;
}

.centerHeadings {
  display: flex;
  text-align: center;
}

.flexBetween {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.centerRowFlex{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flexCenterColumn{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.columnFlex{
  display: flex;
  flex-direction: column;
}

.fullscreenHeight {
  height: 100vh;
  overflow: hidden;
}

h1 {
  margin: 0;
}

.smallFontsize {
  font-size: 10px;
}

.alignRight {
  text-align: right;
}

html,
body {
  margin: 0;
  /* width: 100vw; */
  /* height: 100%; */
}

.backgroundBlue {
  background: royalblue;
}



.royalBlueColor {
  color: royalblue;
}

.appBlue {
  color: #2a8cff;
}
.colorWhite {
  color: white;
}

.clear {
  text-decoration: none;
  color: inherit;
}

.blackText{
  color:black
}

.whiteText {
  color: white;
}

.clear:hover {
  cursor: pointer;
}

.redBackground {
  background-color: red;
}



.pageColor {
  background-color: #fafafa;
}

.fullSize {
  overflow: auto;
  background-color: #fafafa;
}

.landingHeight {
  height: 100vh;
}

.width30p {
  width: 30%;
}

.container {
  width: 100%;
  text-align: center;
  height: 100%;
}

.whiteColor {
  color: white;
}

.whiteBackground{
  background-color: lightgray;
}

.whiteBackground:hover{
  background-color: lightslategrey;
}

.linkColor {
  color: white;
  text-decoration: none;
}

.about .footerLink {
  color: black;
}

.inline {
  display: inline;
}

.padding4ths {
  padding: 0.4em;
}

.flexAndCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logoutBtns{
  margin-top: 2em;
  padding: 1em;
  border: none;
  /* background-color: #2a8dff; */
  border-radius: 2px;
  text-decoration: none;
}

.logoutBtns:hover{
  cursor: pointer;
  filter: grayscale(0.40);
}

.btn {
  margin-top: 2em;
  padding: 1em;
  border: none;
  /* background-color: #2a8dff; */
  border-radius: 2px;
  text-decoration: none;
}

.logoutBtnWidth{
  width: 20%;
}

.btn:hover {
  cursor: pointer;
  background-color: #1563bb;
  transition: 0.3s ease-out;
}

.greenBg{
  background-color: green;
}

.friendReqBtn {
  margin-top: 2em;
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;
  border: none;
  /* background-color: #2a8dff; */
  border-radius: 2px;
  text-decoration: none;
}

.friendReqBtn:hover{
  filter: grayscale(0.40);
}

.confirmationBtn {
  border: solid 0.5px silver;

  border-radius: 2px;
  text-decoration: none;

  /* margin: 1em auto; */
}

.confirmationBtn:hover {
  cursor: pointer;
  background-color: #8a0303;
  transition: 0.3s ease-out;
}

.denyBtn {
  border: solid 0.5px silver;
  padding: 0.4em;
  border-radius: 2px;
  color: black;
  text-decoration: none;

  /* margin: 1em auto; */
}

.denyBtn:hover {
  cursor: pointer;
  background-color: #b9b9b9;
  transition: 0.3s ease-out;
}

/* button:hover {
  cursor: pointer;
  background-color: #1563bb;
  transition: 0.3s ease-out;
} */

/* Landing Page */

.landingImg {
  width: 50%;
  height: 75%;
}

/* .heightBot {
  height: 80vh;
  padding-left: 1.5em;
  padding-right: 1.5em;
} */

.nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1em 2.8em;
  /* background-color: whitesmoke; */
}

.navDash {
  border-bottom: 0.5px lightgray solid;
  /* margin-bottom: 25px; */
  background-color: #2a8cff;
}

nav li {
  padding: 0 1em;
}

.innerLogoutModal{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6)
}

.logoutTheUserModal{
  position: absolute;
  width: 25%;
  height: 18%;
  top: 35%;
  left: 37%;
  border: solid .3px black;
  background: white;
}

.inlineBlock {
  display: inline-block;
}

.landingText {
  font-size: 90px;
  font-weight: bold;
}

.landingWrapper {
  width: 100%;
  margin: auto;
  text-align: center;
}

/* Login/Register page */

.block {
  display: block;
}

.container-form h1 {
  text-align: center;
  margin: 1em 0;
}

.block p {
  margin: 0.3em 0;
}

.container-form {
  width: 25%;
  margin: 0 auto;
  text-align: left;
  min-height: 100vh;
  margin-bottom: 0;
}

.credentials {
  box-shadow: none;
  border: 1px solid black;
  padding: 0.4em;
  width: 100%;
  border-radius: 2px;
  text-align: left;
  margin-bottom: 0.5em;
}

.credText {
  font-size: 10px;
  font-weight: bold;
}

.credLink {
  text-decoration: none;
  color: #1563bb;
}

.credentials:hover {
  border: 1px solid #2a8dff;
}

.submitBtn {
  padding: 0.4em;
  width: 100%;
  border: none;
  background-color: #2a8dff;
  border-radius: 2px;
  color: white;
  text-decoration: none;
  display: block;
  margin: 1em auto 2em;
}

.submitBtn:hover {
  cursor: pointer;
  background-color: #1563bb;
  transition: 0.3s ease-out;
}

/* Dashboard */

.containers {
  box-sizing: border-box;
}

/* This is the gridding section */

.gridContainer {
  box-sizing: border-box;
  height: 93vh;

  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(9, auto);
}

/* Friendslist? */

.friendHeader {
  padding-bottom: 1.2em;
  text-align: left;
  padding-left: 2.3em;
  font-size: 20px;
}

.underline {
  border-bottom: solid 1px #2a8dff;
}

.friendsListWrapper {
  grid-column-start: 1;
  grid-column-end: 2; /*This used to be 3*/
  /* grid-row-start: 1; The rows seemingly did nothing, I did not utilize properly
  grid-row-end: 10; */
  /* border-right: lightgray 0.5px solid;  */
  text-align: center;
  /* background: #f5f3f1; */
}

.friendsListScroll {
  overflow: auto;
}

.friendsListScroll::-webkit-scrollbar {
  width: 10px;
}

.friendsListScroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.friendsListScroll::-webkit-scrollbar-thumb {
  background: #2a8dff;
  border-radius: 10px;
}

.friendsListScroll::-webkit-scrollbar-thumb:hover {
  background: #1563bb;
}

.friendName {
  padding: 10px 10px 10px 0px;
  width: 100%;
}

.friendOption {
  padding: 0.7em 0.5em;
}

.friendOption:hover {
  cursor: pointer;
}

.friendRequests {
  margin: 0.5em;
  padding: 0.3em;
}

.mobileFriendIcons {
  display: none;
}

.fa-comment-alt {
  color: #2a8dff;
}

.fa-times{
  background-color: inherit;
}

.fa-check{
  background-color: inherit;
}

.fa-trash-alt {
  padding-left: 20px;
}

.fa-trash-alt:hover {
  color: red;
}

.flexContainer {
  display: flex;
  justify-content: space-evenly; /*This is the container for all the tabs*/
  padding: 0 10px;
}

.friendContainer {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 2.7rem;
  text-align: left;
}

.friendContainer:hover {
  background-color: whitesmoke;
}

.commentlargeMediaFriendIcon {
  padding: 10px;
  padding: 1em;
  
}

.commentIcon:hover {
  cursor: pointer;
  background-color: lightgray;
}

/* Friend Request Section */

.AddFriendInput {
  box-shadow: none;
  /* border: 1px solid lightgray; */
  padding: 0.4em;
  width: 80%;
  border-radius: 2px;
  text-align: left;

  margin: 0.5em 0;
}

.addFriendBtn {
  width: 40%;
  border: none;
  background-color: #2a8dff;
  margin-top: 2em;
  padding: 0.4em;
  border-radius: 2px;
  color: white;
  text-decoration: none;
  margin: 1em auto;
}

.addFriendBtn:hover {
  cursor: pointer;
  background-color: #1563bb;
  transition: 0.3s ease-out;
}

.deletionBtns {
  display: flex;
  justify-content: space-around;
}

/* Section for the Chatbox */

.chatbox {
  grid-column-start: 2;
  grid-column-end: 9;
  grid-row-start: 10; /* If things get weird, change back to 9 */
  grid-row-end: 10;
  background-color: white;
  /* border-top: solid lightgray 0.5px; To be removed later */
}

.chatboxHeading {
  font-weight: bold;
  font-size: 20px;
}

.conversations {
  grid-column-start: 9;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 10;
  /* border-left: solid 0.5px lightgray; */
}

.convoContainer {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
  width: 100%;
  /* border-bottom: .5px solid gray; */
}

.convoContainerSelect{
  background-color: whitesmoke;
}

.convoSubHeading {
  padding-bottom: 1.7em;
}

.convoContainer:hover {
  background-color: whitesmoke;
}

.convoNames {
  padding: 10px;
  width: 100%;
}

.padLeft {
  padding: 0 10px 10px 10px;
}

.convoPadding {
  padding: 0 10px 10px 10px;
}

.chatHeading {
  font-weight: bold;
}

.chatboxInput {
  box-shadow: none;
  border: 0.5px lightgray solid;
  /* border: 1px solid lightgray; */
  padding: 0.7em;
  width: 85%;
  border-radius: 2px;
  text-align: left;
  margin-bottom: 0.5em;
}

.chatboxBtn {
  width: 15%;
  border: none;
  background-color: #2a8dff;
  margin-top: 2em;
  padding: 0.7em;
  border-radius: 2px;
  color: white;
  text-decoration: none;
  margin: 1em auto;
}

.chatboxBtn:hover {
  cursor: pointer;
  background-color: #1563bb;
  transition: 0.3s ease-out;
}

.chatboxDisplay {
  width: 100%;
  margin: auto;
}

.userColor {
  /* color: #1563bb */
  background-color: #1563bb;
  border-radius: 15px;
  color: white;
  padding: 0.125em 0.5em;
  text-align: left;
}

.otherUserColor {
  /* color: #1563bb */
  background-color: silver;
  border-radius: 15px;
  padding: 0.125em 0.7em;
  text-align: left;
}

.userText {
  font-size: 1.125em;
  max-width: 22em;
}
.userTextRight {
  font-size: 1.125em;
  max-width: 22em;
}

.chatting {
  grid-column-start: 2;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 10;
  background-color: white;
  border-left: 0.5px solid silver;
  border-right: 0.5px solid silver;
}

.chatboxDimens {
  box-sizing: border-box;
  padding-left: 0.8em;
  padding-right: 0.8em;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-anchor: none;
  height: 100%;
  width: 100%;
  /* overflow-anchor: none; */
}

/* Scrollbar */
.chatboxDimens::-webkit-scrollbar {
  width: 10px;
}
.chatboxDimens::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.chatboxDimens::-webkit-scrollbar-thumb {
  background: #2a8dff;
  border-radius: 10px;
}

.chatboxDimens::-webkit-scrollbar-thumb:hover {
  background: #1563bb;
}

.anchor {
  overflow-anchor: auto;
  height: 1px;
}

.wrapper {
  display: flex;
  width: 100%;
  /* height: 100%; */
}

/* Conversation CSS */

/* .convoSpacing {
  padding: 10px;
} */

.convoHeadSpacing {
  padding: 0px 10px 10px 10px;
}

.convoBorder {
  border-bottom: deepskyblue 5px solid;
  border-radius: 7px;
}

.convoSpacing:hover {
  background-color: whitesmoke;
}

.highlight {
  background-color: whitesmoke;
}

/* Messages */
.messageContainer {
  padding: 0.125em 0.2em 0.2em 0;
}
.messageContainerRight {
  padding: 0.125em 0.3em 0.2em 0;
}

.messageContainer p {
  display: inline-block;
}

/* Alerts */
.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: #ff2626;
  color: black;
}

/* About page */
.about {
  text-align: center;
  margin: auto;
  height: 100%;
}

/* Footer */
.footer-container {
  margin: auto;
  background-color: #2a8dff;

  color: white;
  padding: 5em 0;
  width: 100%;
  text-align: center;
}

/*//////////////////////////*/
/*       Media queries      */
/*//////////////////////////*/

@media (max-width: 320px) {
  .hideOnLargeMedia {
    display: inline-block;
  }

  .nav {
    padding: 1.5em 1em 1em 1em;
  }

  .landingHeight {
    height: 100vh;
    margin-bottom: 1em;
  }

  .container-form {
    width: 90%;
  }
/* 
  .landingText {
    font-size: 35px;

  } */

  .flexAndCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .pd-2_5 {
    /* If leave this at 0, there is no extra white space below*/
    padding: 0;
  }

  .fa-bars {
    transform: scale(1.5, 1.5);
  }

  /* .landingText {
    font-size: 45px;
    margin-bottom: 0.4em;
    z-index: 10;
  } */

  .styledMenu {
    display: inline-block;
    z-index: 9999;
    transition: transform 3s ease-in-out;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    text-align: right;
    padding: 2em;
    position: absolute;
    overflow: hidden;
  }

  .closeConversation {
    padding: 15px 15px 15px 15px;
    margin: 0;
  }

  .closeConversation:hover {
    cursor: pointer;
    background-color: red;
    border-radius: 10px;
  }

  .moveIn-enter {
    opacity: 0;
  }

  .moveIn-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in-out, translate 300ms ease-in-out;
  }

  .moveIn-enter-done {
    opacity: 1;
  }

  .moveIn-exit {
    opacity: 1;
  }

  .moveIn-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }

  .moveIn-exit-done {
    opacity: 0;
  }

  .flexText {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
  }

  .gridContainer {
    height: 85.5vh;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(10, auto);
    margin-top: 1em;
  }

  .friendsListWrapper {
    grid-column-start: 1;
    grid-column-end: 6;
    width: 100%;
  }

  .friendHeader {
    /* This needs to be centered */

    padding-bottom: 1.2em;
    text-align: center;
    justify-content: center;
    font-size: 20px;
  }

  .chatting {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-bottom: 8em;
  }

  .chatbox {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .chatboxDimens {
    box-sizing: border-box;
    padding-left: 0.8em;
    padding-right: 0.8em;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-anchor: none;
    height: 100%;
    width: 100%;
    /* overflow-anchor: none; */
  }

  .wrapper {
    /*This is the chat input*/
    display: flex;
    width: 100%;
    height: 100%;
    position: sticky;
  }

  .chatboxInput {
    width: 75%;
  }

  .chatboxBtn {
    width: 25%;
  }

  .landingWrapper {
    text-align: left;
    padding: 1em;
    margin: 0;
    margin-top: 15em;
  }

  .btn {
    margin-top: 2em;
    width: 100%;
  }

  .chatting {
    border-left: none;
    border-right: none;
  }

  .hideOnSmallMedia {
    display: none !important;
  }

  .conversations {
    display: none;
  }

  .mobileFriendIcons {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
  }
}

@media (max-width: 360px){
  .landingWrapper {
    text-align: left;
    padding: 1em;
    margin: 0;
    margin-top: 15em;
  }
}

/*
/////////////////////////
/////////////////////////
*/

@media (max-width: 375px) {
  .hideOnLargeMedia {
    display: inline-block;
  }



  .landingImg {
    width: 15%;
    height: 40%;
  }

  .nav {
    padding: 1.5em 1em 1em 1em;
  }

  .landingHeight {
    height: 100vh;
    margin-bottom: 1em;
  }

  .flexAndCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
  }

  .container-form {
    width: 90%;
  }

  .pd-2_5 {
    /* If leave this at 0, there is no extra white space below*/
    padding: 0;
  }

  .fa-bars {
    transform: scale(1.5, 1.5);
  }

  .landingText {
    font-size: 45px;
    margin-bottom: 0.4em;
    z-index: 10;
  }

  .styledMenu {
    display: inline-block;
    z-index: 9999;
    
    transition: transform 3s ease-in-out;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    text-align: right;
    padding: 2em;
    position: absolute;
    overflow: hidden;
  }

  .closeConversation {
    padding: 15px 15px 15px 15px;
    margin: 0;
  }

  .closeConversation:hover {
    cursor: pointer;
    background-color: red;
    border-radius: 10px;
  }

  .moveIn-enter {
    opacity: 0;
  }

  .moveIn-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in-out, translate 300ms ease-in-out;
  }

  .moveIn-enter-done {
    opacity: 1;
  }

  .moveIn-exit {
    opacity: 1;
  }

  .moveIn-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }

  .moveIn-exit-done {
    opacity: 0;
  }

  .flexText {
    display: flex;
    /* text-align: center; */
    flex-direction: column;
    /* justify-content: center; */
    overflow-x: hidden;
  }

  .gridContainer {
    height: 85.5vh;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(10, auto);
    margin-top: 1em;
  }

  .friendsListWrapper {
    grid-column-start: 1;
    grid-column-end: 6;
    width: 100%;
  }

  .friendHeader {
    /* This needs to be centered */

    padding-bottom: 1.2em;
    text-align: center;
    justify-content: center;
    font-size: 20px;
  }

  .chatting {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-bottom: 8em;
  }

  .chatbox {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .chatboxDimens {
    box-sizing: border-box;
    padding-left: 0.8em;
    padding-right: 0.8em;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-anchor: none;
    height: 100%;
    width: 100%;
    /* overflow-anchor: none; */
  }

  .wrapper {
    /*This is the chat input*/
    display: flex;
    width: 100%;
    height: 100%;
    position: sticky;
  }

  .chatboxInput {
    width: 75%;
  }

  .chatboxBtn {
    width: 25%;
  }

  .btn {
    margin-top: 3em;
    width: 100%;
  }

  .chatting {
    border-left: none;
    border-right: none;
  }

  .hideOnSmallMedia {
    display: none !important;
  }

  .conversations {
    display: none;
  }

  .mobileFriendIcons {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
  }
}

@media (min-width: 375px) {
  .landingWrapper {
    width: 80%;
    margin-top: 17em;
  }
}

/*
/////////////////////////
/////////////////////////
/////////////////////////
/////////////////////////
*/

@media (max-width: 425px) {
  .hideOnLargeMedia {
    display: inline-block;
  }

  .nav {
    padding: 1.5em 1em 1em 1em;
  }

  .landingHeight {
    height: 100vh;
    margin-bottom: 1em;
  }

  .container-form {
    width: 90%;
  }

  .pd-2_5 {
    /* If leave this at 0, there is no extra white space below*/
    padding: 0;
  }

  .fa-bars {
    transform: scale(1.5, 1.5);
  }

  .landingText {
    font-size: 40px;
    margin-bottom: 0.4em;
    z-index: 10;
  }

  .styledMenu {
    display: inline-block;
    z-index: 9999;
    
    transition: transform 3s ease-in-out;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    text-align: right;
    padding: 2em;
    position: absolute;
    overflow: hidden;
  }

  .closeConversation {
    padding: 15px 15px 15px 15px;
    margin: 0;
  }

  .closeConversation:hover {
    cursor: pointer;
    background-color: red;
    border-radius: 10px;
  }

  .moveIn-enter {
    opacity: 0;
  }

  .moveIn-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in-out, translate 300ms ease-in-out;
  }

  .moveIn-enter-done {
    opacity: 1;
  }

  .moveIn-exit {
    opacity: 1;
  }

  .moveIn-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }

  .moveIn-exit-done {
    opacity: 0;
  }

  .flexAndCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
  }

  .landingImg {
    width: 100%;
    height: 70%;
  }

  .flexText {
    display: flex;
    /* text-align: center; */
    flex-direction: column;
    /* justify-content: center; */
    overflow-x: hidden;
  }

  .gridContainer {
    height: 85.5vh;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(10, auto);
    margin-top: 1em;
  }

  .friendsListWrapper {
    grid-column-start: 1;
    grid-column-end: 6;
    width: 100%;
  }

  .friendHeader {
    /* This needs to be centered */

    padding-bottom: 1.2em;
    text-align: center;
    justify-content: center;
    font-size: 20px;
  }

  .chatting {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-bottom: 8em;
  }

  .chatbox {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .chatboxDimens {
    box-sizing: border-box;
    padding-left: 0.8em;
    padding-right: 0.8em;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-anchor: none;
    height: 100%;
    width: 100%;
    /* overflow-anchor: none; */
  }

  .wrapper {
    /*This is the chat input*/
    display: flex;
    width: 100%;
    height: 100%;
    position: sticky;
  }

  .chatboxInput {
    width: 75%;
  }

  .chatboxBtn {
    width: 25%;
  }

  .btn {
    margin-top: 3em;
    width: 100%;
  }

  .chatting {
    border-left: none;
    border-right: none;
  }

  .hideOnSmallMedia {
    display: none !important;
  }

  .conversations {
    display: none;
  }

  .mobileFriendIcons {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
  }
}

/*
///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
///////////////////////////////////
*/

@media (max-width: 768px) {
  .hideOnLargeMedia {
    display: inline-block;
  }

  .nav {
    padding: 1.5em 1em 1em 1em;
  }

  .landingHeight {
    height: 100vh;
    margin-bottom: 1em;
  }

  .container-form {
    width: 70%;
  }

  .pd-2_5 {
    /* If leave this at 0, there is no extra white space below*/
    padding: 0;
  }

  .fa-bars {
    transform: scale(1.5, 1.5);
  }

  .landingText {
    font-size: 40px;
    margin-bottom: 0.4em;
    z-index: 10;
  }

  .styledMenu {
    display: inline-block;
    z-index: 9999;
    
    transition: transform 3s ease-in-out;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    text-align: right;
    padding: 2em;
    position: absolute;
    overflow: hidden;
  }

  .closeConversation {
    padding: 15px 15px 15px 15px;
    margin: 0;
  }

  .closeConversation:hover {
    cursor: pointer;
    background-color: red;
    border-radius: 10px;
  }

  .moveIn-enter {
    opacity: 0;
  }

  .moveIn-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in-out, translate 300ms ease-in-out;
  }

  .moveIn-enter-done {
    opacity: 1;
  }

  .flexAndCenter {
    padding: 1em;
  }

  .moveIn-exit {
    opacity: 1;
  }

  .moveIn-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }

  .moveIn-exit-done {
    opacity: 0;
  }

  .flexText {
    display: flex;
    /* text-align: center; */
    flex-direction: column;
    /* justify-content: center; */
    overflow-x: hidden;
  }

  .gridContainer {
    height: 85.5vh;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(10, auto);
    margin-top: 1em;
  }

  .friendsListWrapper {
    grid-column-start: 1;
    grid-column-end: 6;
    width: 100%;
  }

  .friendHeader {
    /* This needs to be centered */

    padding-bottom: 1.2em;
    text-align: center;
    justify-content: center;
    font-size: 20px;
  }

  .chatting {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
    margin-bottom: 8em;
  }

  .chatbox {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 4;
  }

  .chatboxDimens {
    box-sizing: border-box;
    padding-left: 0.8em;
    padding-right: 0.8em;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-anchor: none;
    height: 100%;
    width: 100%;
    /* overflow-anchor: none; */
  }

  .wrapper {
    /*This is the chat input*/
    display: flex;
    width: 100%;
    height: 100%;
    position: sticky;
  }

  .chatboxInput {
    width: 75%;
  }

  .chatboxBtn {
    width: 25%;
  }

  .btn {
    margin-top: 3em;
    width: 100%;
  }

  .chatting {
    border-left: none;
    border-right: none;
  }

  .hideOnSmallMedia {
    display: none !important;
  }

  .conversations {
    display: none;
  }

  .hideOnTablet {
    display: none;
  }

  .showMeTheMoney {
    display: flex;
    justify-content: space-evenly; /*This is the container for all the tabs*/
    padding: 0 10px;
  }

  .mobileFriendIcons {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
  }
}

@media (min-width: 768px) {
  .landingWrapper {
    text-align: left;
    padding: 1em;
    margin: 0;
    margin-top: -10em;
    width: 40%;
  }

  .landingImg {
    margin-top: -10em;
    width: 55%;
    height: 30%;
  }
  .container-form {
    width: 40%;
  }
}

@media (max-width: 1025px) {
  .logoutTheUserModal{
    width: 35%;
  }

  .hideOnTablet {
    display: none;
  }
}

@media (min-width: 1024px) {
  .landingImg {
    margin-top: -10em;
    width: 55%;
    height: 40%;
  }

  .landingText{
    font-size: 55px;
  }

  .flexAndCenter {
    padding: 2em;
  }

  .container-form {
    width: 35%;
  }
}

@media (min-width: 1440px) {
  .landingImg {
    width: 50%;
    height: 50%;
  }

  .container-form {
    width: 25%;
  }
}
@media (min-width: 1920px) {
  .landingImg {
    width: 30%;
    height: 40%;
  }
}
