* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: "Nunito", sans-serif;
}

.cursorChg:hover {
  cursor: pointer;
}

.smallMediaHide {
  display: none;
}

.pd-top1 {
  padding-top: 0.7em;
}

.hideOnLargeMedia {
  display: none;
}

/* .borderSides{
  border-left: .5px solid lightgray;
  border-right: .5px solid lightgray;
  padding: 0 10px;
}  */

This is how the icons will change colors */ h1 {
  margin: 0;
}

.smallFontsize {
  font-size: 10px;
}

.alignRight {
  text-align: right;
}

html,
body {
  margin: 0;
  /* width: 100vw; */
  /* height: 100%; */
}

.backgroundBlue {
  background: royalblue;
}

.royalBlueColor {
  color: royalblue;
}

.colorWhite {
  color: white;
}

.clear {
  text-decoration: none;
  color: inherit;
}

.clear:hover {
  cursor: pointer;
}

.pageColor {
  background-color: #fafafa;
}

.fullSize {
  overflow: auto;
  background-color: #fafafa;
}

.landingHeight {
  height: 100vh;
}

.container {
  width: 100%;
  text-align: center;
  height: 100%;
}

.linkColor {
  color: white;
  text-decoration: none;
}

.about .footerLink {
  color: black;
}

.inline {
  display: inline;
}

.flexRight {
  display: flex;
  flex-direction: row;
}

.btn {
  margin-top: 2em;
  padding: 1em;
  border: none;
  background-color: #2a8dff;
  border-radius: 2px;
  color: white;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
  background-color: #1563bb;
  transition: 0.3s ease-out;
}

/* Landing Page */

.landingImg {
  width: 50%;
  height: 75%;
}

/* .heightBot {
  height: 80vh;
  padding-left: 1.5em;
  padding-right: 1.5em;
} */

.nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 1em 2.8em;
  /* background-color: whitesmoke; */
}

.navDash {
  border-bottom: 0.5px lightgray solid;
  /* margin-bottom: 25px; */
  background-color: #2a8cff;
}

nav li {
  padding: 0 1em;
}

.inlineBlock {
  display: inline-block;
}

.landingText {
  font-size: 90px;
  font-weight: bold;
}

.weigh {
  /* font-weight: bold; */
}

.landingWrapper {
  width: 100%;
  margin: auto;
  text-align: center;
}

/* .dot {
  border-radius: 50%;
  background-color: #fafafa;
  display: inline-block;
  border: 9px #dceffe solid;
  position: absolute;
}

.top {
  top: 5em;
  left: 40em;
  height: 150px;
  width: 150px;
  z-index: -10000;
}

.right {
  right: 50em;
  height: 50px;
  width: 50px;
  z-index: -10000;
}
.right1 {
  right: 30em;
  bottom: 50em;
  height: 100px;
  width: 100px;
  z-index: -10000;
}
.right2 {
  right: 1em;
  z-index: -10000;
}

.botRight {
  right: 20em;
  bottom: 5em;
  height: 120px;
  width: 120px;
  z-index: -10000;
}

.bottom1 {
  bottom: 100px;
  left: 50em;
  height: 300px;
  width: 300px;
  z-index: -10000;
}
.bottom2 {
  bottom: 20px;
  left: 20em;
  height: 30px;
  width: 30px;
  z-index: -10000;
}
.bottom3 {
  bottom: 200px;
  left: 1em;
  height: 160px;
  width: 160px;
  z-index: -10000;
}
.bottom4 {
  bottom: 40em;
  left: 4em;
  height: 70px;
  width: 70px;
  z-index: -10000;
}
.bottom5 {
  bottom: 40em;
  left: 60em;
  height: 90px;
  width: 90px;
  z-index: -10000;
}
.bottom6 {
  bottom: 10em;
  left: 30em;
  height: 90px;
  width: 90px;
  z-index: -10000;
} */

/* Login/Register page */

.block {
  display: block;
}

.container-form h1 {
  text-align: center;
  margin: 1em 0;
}

.block p {
  margin: 0.3em 0;
}

.container-form {
  width: 25%;
  margin: 0 auto;
  text-align: left;
  min-height: 100vh;
  margin-bottom: 0;
}

.credentials {
  box-shadow: none;
  border: 1px solid black;
  padding: 0.4em;
  width: 100%;
  border-radius: 2px;
  text-align: left;
  margin-bottom: 0.5em;
}

.credText {
  font-size: 10px;
  font-weight: bold;
}

.credLink {
  text-decoration: none;
  color: #1563bb;
}

.credentials:hover {
  border: 1px solid #2a8dff;
}

.submitBtn {
  margin-top: 2em;
  padding: 0.4em;
  width: 100%;
  border: none;
  background-color: #2a8dff;
  border-radius: 2px;
  color: white;
  text-decoration: none;
  display: block;
  margin: 1em auto;
}

/* Dashboard */

.containers {
  box-sizing: border-box;
}

/* This is the gridding section */

.gridContainer {
  box-sizing: border-box;
  height: 89.8vh;

  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(9, auto);
}

/* .borderSides{
 
  padding: 0 10px;
} */

/* Friendslist? */

.friendHeader {
  padding-bottom: 1.2em;
  text-align: left;
  padding-left: 2.3em;
  font-size: 20px;
}

.underline {
  border-bottom: solid 1px #2a8dff;
}

.friendsListWrapper {
  grid-column-start: 1;
  grid-column-end: 2; /*This used to be 3*/
  /* grid-row-start: 1; The rows seemingly did nothing, I did not utilize properly
  grid-row-end: 10; */
  /* border-right: lightgray 0.5px solid;  */
  text-align: center;
  /* background: #f5f3f1; */
}

.friendsListScroll {
  overflow: auto;
}

.friendsListScroll::-webkit-scrollbar {
  width: 10px;
}

.friendsListScroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.friendsListScroll::-webkit-scrollbar-thumb {
  background: #2a8dff;
  border-radius: 10px;
}

.friendsListScroll::-webkit-scrollbar-thumb:hover {
  background: #1563bb;
}

.friendName {
  padding: 10px 10px 10px 0px;
}

.friendOption {
  padding: 0.7em 0.5em;
}

.friendIcons {
  padding-right: 5px;
  align-items: center;
}

.friendOption:hover {
  cursor: pointer;
}

.fa-comment-alt {
  color: #2a8dff;
}

.fa-trash-alt {
  padding-left: 20px;
}

.fa-trash-alt:hover {
  color: red;
}

.flexContainer {
  display: flex;
  justify-content: space-evenly; /*This is the container for all the tabs*/
  padding: 0 10px;
}

.friendContainer {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 2.8rem;
  text-align: left;
}

.friendContainer:hover {
  background-color: whitesmoke;
}

.commentIcon {
  padding: 10px;
}

.commentIcon:hover {
  cursor: pointer;
  background-color: lightgray;
}

/* Friend Request Section */

.AddFriendInput {
  box-shadow: none;
  /* border: 1px solid lightgray; */
  padding: 0.4em;
  width: 80%;
  border-radius: 2px;
  text-align: left;

  margin: 0.5em 0;
}

.addFriendBtn {
  width: 40%;
  border: none;
  background-color: #2a8dff;
  margin-top: 2em;
  padding: 0.4em;
  border-radius: 2px;
  color: white;
  text-decoration: none;
  margin: 1em auto;
}

/* Section for the Chatbox */

.chatbox {
  grid-column-start: 2;
  grid-column-end: 9;
  grid-row-start: 10; /* If things get weird, change back to 9 */
  grid-row-end: 10;
  background-color: white;
  /* border-top: solid lightgray 0.5px; To be removed later */
}

.chatboxHeading {
  font-weight: bold;
  font-size: 20px;
}

.conversations {
  grid-column-start: 9;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 10;
  /* border-left: solid 0.5px lightgray; */
}

.convoContainer {
  display: flex;
  justify-content: space-between;
  padding: 0.5em 0;
  /* border-bottom: .5px solid gray; */
}

.convoSubHeading {
  padding-bottom: 1.7em;
}

.convoContainer:hover {
  background-color: whitesmoke;
}

.convoNames {
  padding: 10px;
  width: 100%;
}

.padLeft {
  padding: 0 10px 10px 10px;
}

.convoPadding {
  padding: 0 10px 10px 10px;
}

.closeConversation {
  padding: 14px 15px 5px 15px;
  margin: 0 1rem 0 0;
}

.closeConversation:hover {
  cursor: pointer;
  background-color: red;
  border-radius: 10px;
}

.chatHeading {
  font-weight: bold;
}

.chatboxInput {
  box-shadow: none;
  border: 0.5px lightgray solid;
  /* border: 1px solid lightgray; */
  padding: 0.7em;
  width: 85%;
  border-radius: 2px;
  text-align: left;
  margin-bottom: 0.5em;
}

.chatboxBtn {
  width: 15%;
  border: none;
  background-color: #2a8dff;
  margin-top: 2em;
  padding: 0.7em;
  border-radius: 2px;
  color: white;
  text-decoration: none;
  margin: 1em auto;
}

.chatboxDisplay {
  width: 100%;
  margin: auto;
}

.userColor {
  /* color: #1563bb */
  background-color: #1563bb;
  border-radius: 15px;
  color: white;
  padding: 0.125em 0.5em;
  text-align: left;
}

.otherUserColor {
  /* color: #1563bb */
  background-color: silver;
  border-radius: 15px;
  padding: 0.125em 0.7em;
  text-align: left;
}

.userText {
  font-size: 1.125em;
  max-width: 22em;
}
.userTextRight {
  font-size: 1.125em;
  max-width: 22em;
}

.chatting {
  grid-column-start: 2;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 10;
  background-color: white;
  border-left: 0.5px solid silver;
  border-right: 0.5px solid silver;
}

.chatboxDimens {
  box-sizing: border-box;
  padding-left: 0.8em;
  padding-right: 0.8em;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-anchor: none;
  height: 100%;
  width: 100%;
  /* overflow-anchor: none; */
}

/* Scrollbar */
.chatboxDimens::-webkit-scrollbar {
  width: 10px;
}
.chatboxDimens::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.chatboxDimens::-webkit-scrollbar-thumb {
  background: #2a8dff;
  border-radius: 10px;
}

.chatboxDimens::-webkit-scrollbar-thumb:hover {
  background: #1563bb;
}

.anchor {
  overflow-anchor: auto;
  height: 1px;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Conversation CSS */

/* .convoSpacing {
  padding: 10px;
} */

.convoHeadSpacing {
  padding: 0px 10px 10px 10px;
}

.convoBorder {
  border-bottom: deepskyblue 5px solid;
  border-radius: 7px;
}

.convoSpacing:hover {
  background-color: whitesmoke;
}

.highlight {
  background-color: whitesmoke;
}

/* Messages */
.messageContainer {
  padding: 0.125em 0.2em 0.2em 0;
}
.messageContainerRight {
  padding: 0.125em 0.3em 0.2em 0;
}

.messageContainer p {
  display: inline-block;
}

/* Alerts */
.alert {
  padding: 0.7rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: #ff2626;
  color: black;
}

/* About page */
.about {
  text-align: center;
  margin: auto;
  height: 100%;
}

/* Footer */
.footer-container {
  margin: auto;
  background-color: #2a8dff;

  color: white;
  padding: 5em 0;
  width: 100%;
  text-align: center;
}

/* Media queries */
@media (max-width: 320px) {
  .hideOnLargeMedia {
    display: inline-block;
  }

  .nav {
    padding: 1em 1em 1em 1em;
  }

  .pd-2_5 {
    /* If leave this at 0, there is no extra white space below*/
    padding: 0;
  }

  .fa-bars {
    position: absolute;
    transform: scale(1.5, 1.5);
  }

  .landingText {
    font-size: 45px;
    margin-bottom: 0.4em;
    z-index: 10;
  }

  .styledMenu {
    display: inline-block;
    z-index: 9999999;
    background-color: lightblue;
     transition: transform 3s ease-in-out; 
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    text-align: right;
    padding: 2em;
    position: absolute;
    overflow: hidden;
  }

    .moveIn-enter{
    opacity: 0;
  }

  .moveIn-enter-active{
    opacity: 1;
    transition: opacity 300ms ease-in-out, translate 300ms ease-in-out;
  }

  .moveIn-enter-done{
    opacity: 1;
  } 
  
  .moveIn-exit{
    opacity: 1;
  }

  .moveIn-exit-active{
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }

  .moveIn-exit-done{
    opacity: 0;
  }

  /* Sidemenu React CSS Transitions */

/* 
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }

  @keyframes slideOut {
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
  }  */

  .styledAnimation {
     /* animation: slideIn 0.5s 1;  */
    /* transform:translateX(0%); */
    /* transition: transform 4s ease-in-out; */
    /* transform:translateX(90%);  */
  }

  /* .slideOutAnimation {
     animation: slideOut 0.5s 1;  */
    /* transform:translateX(0%); */
    /* transition: transform 4s ease-in-out; */
    /* transform:translateX(90%);  */
  /* } */

  .flexText {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
  }

  .chatting {
    grid-column-start: 1;
  }

  .gridContainer {
    height: 100vh;
  }

  .landingWrapper {
    text-align: left;
    padding: 1em;
    margin: 0;
    margin-top: 5em;
  }

  .btn {
    margin-top: 3em;
    width: 100%;
  }

  .chatting {
    border-left: none;
    border-right: none;
  }

  .hideOnSmallMedia {
    display: none;
  }

  .friendsListWrapper {
    display: none;
  }

  .conversations {
    display: none;
  }

  /* .footer-container{
    margin-bottom: -10em;
  } */

  /* .heightBot{
    height: 100vh;
    
  } */
}
/* @media (min-width: 374px){
  .friendsListWrapper{
    display: none;
  }
  
  .conversations{
    display: none;
  }
} */

.centerHeadings {
  display: flex;
  text-align: center;
}
